{% extends "package/view_edit_base.html" %}

{% set jsonschema = h.jsonschema_is_jsonschema_view(resource_view.view_type) %}


{% block view_form_filters %}
    {{super()}}
{% endblock %}

{% block scripts %}
{# which is the jsonschema type in this context/environment #}
{% if jsonschema %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
  <!-- Markdown -->
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/ace.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-markdown.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-javascript.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-json.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/mode-css.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.2/src-min/ext-beautify.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.1.0/ajv7.min.js" integrity="sha512-iG/rBFw+Q1mlDQt15pw86zil1/1JeeNoJ1Grux8zZgvIBLDDnRLdA8UaIosHohzrqBEXA2+hIQV7DXnYGYGX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- autocomplete -->
  <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

  <!-- Date picker -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endif %}
{% endblock %}  


{% block page %}

    {% block form %}

    {% set TYPE_KEY = h.jsonschema_get_type_key() %}
    {% set BODY_KEY = h.jsonschema_get_body_key() %}
    {% set OPT_KEY = h.jsonschema_get_opt_key() %}


    <div id="jsonschema-config-form" data-module="jsonschema"
        data-module-option = "{{ config_view[OPT_KEY] }}"
        data-module-schema = "{{ schema }}"
        data-module-body = "{{ config_view[BODY_KEY] }}"
        data-module-type = "{{ config_view[TYPE_KEY] }}"
        data-module-ckan-url = "{{ h.url_for('/',_external=True) }}" />
    

    <div class="input-group">
        <input id="field-extras-0-value" name="{{BODY_KEY}}" value="{{config_view[BODY_KEY]}}" type="hidden" class="form-control"/>
        
        <input id="field-extras-1-value" name="{{TYPE_KEY}}" value="{{config_view[TYPE_KEY]}}" type="hidden" class="form-control"/>
        
        <input id="field-extras-2-value" name="{{OPT_KEY}}" value="{{config_view[OPT_KEY]}}" type="hidden" class="form-control"/>
    </div>


    {% endblock %}
    <p>

        <!-- TODO ALIGN MODEL -->
        <!-- TODO ALIGN CONFIG -->
        <div style="display: inline-block;">
            <button class="btn btn-primary" type="button"  data-toggle="collapse" 
                title="{{_('Shows a table with copy to clipboard buttons for a fast usage of available informations from the dataset and resources')}}"
                data-target="#helperTable" >{{_('Tools')}}</button>
            <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Click to open the model used by this configuration"
                href="{{h.url_for('terriajs.model', resource_id=resource.id, dataset_id=package.id, _external=True)}}" target="_blank">
                Model
            </a>
            {% if resource_view.id %}
            <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Click to open the link to this configuration"
                    href="{{h.url_for('terriajs.config', resource_view_id=resource_view.id, _external=True)}}" target="_blank">
                Resulting endpoint
            </a>
            {% endif %}
        </div>
    </p>
    <div id="helperTable" class="collapse">
        <table class="table card card-body" style="width:100%">
            <tr>
                <b style="border-bottom: 1px solid gray;">Dataset:</b>
            </tr>
            <tr scope="row">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">URL</th>
            </tr>
            <tr scope="row">
                <td class="col">
                    <button class="btn btn-secondary" onclick="copy(this, event, '{{package.id}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.id}}">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                        <b id="package-id">Dataset ID</b></button>
                    </button>
                </td>
                <td class="col">
                    {% if package.name %}
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{package.name}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.name}}">
                            <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{package.name}}</span>
                        </button>
                    {% endif %}
                </td>
                <td class="col">
                    {% if package.notes %}
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{package.notes}}')" data-toggle="tooltip" data-placement="bottom" title="{{package.notes}}">
                            <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{package.notes}}</span>
                        </button>
                    {% endif %}
                </td>
                <td class="col">
                    <button class="btn btn-secondary"
                            onclick="copy(this, event, '{{package.url}}')"
                            data-toggle="tooltip" data-placement="bottom" title="{{package.url}}">
                        <i class="fa fa-clipboard" aria-hidden="true"></i> URL
                    </button>
                </td>
            </tr>
        </table>
        <table class="table" style="width:100%">
            <tr>
                <b style="border-bottom: 1px solid gray;">Resources:</b>
            </tr>
            <tr scope="row">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">URL</th>
            </tr>
            {% for r in package.resources %}
                <tr scope="row">
                    <td class="col">
                        <button class="btn btn-secondary" onclick="copy(this, event, '{{r.id}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.id}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            {% if resource.id == r.id %}
                                <b id="resource-id">This resource ID</b>
                            {% else %}
                                <span>Resource ID</span>
                            {% endif %}
                        </button>
                    </td>
                    <td class="col">
                        {% if r.name %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.name}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.name}}">
                                <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{r.name}}</span>
                            </button>
                        {% endif %}
                    </td>
                    <td class="col">
                        {% if r.description %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.description}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.description}}">
                                <span style="display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100px;"><i class="fa fa-clipboard" aria-hidden="true"></i> {{r.description}}</span>
                            </button>
                        {% endif %}
                    </td>
                    <td class="col">
                        {% if r.url %}
                            <button class="btn btn-secondary" onclick="copy(this, event, '{{r.url}}')" data-toggle="tooltip" data-placement="bottom" title="{{r.url}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i> URL
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  
    <div id="editor">
        <p>
            <div style="display: inline-block;">
                <button class="btn btn-primary" type="button" id="editor-editor" onclick="jsonschema.getEditorAce();">Editor</button>
                <button class="btn btn-primary" type="button" id="editor-howto" onclick="jsonschema.getEditor();">HowTo</button>
                <button class="btn btn-primary" type="button" id="editor-toggle" onclick="jsonschema.editorToggle();"></button>
            </div>
        </p>
        <!-- <p style="border: 2px solid gray;" id="editor-jsonschema-config"> -->
        <div id="editor-jsonschema-config">
            {% resource 'jsonschema_editor/main' %}
        </div>
        <p>
            <div style="border-bottom: 1px solid gray;">
                Status: <b style="display: inline;" id="editor-status-holder"></b>    Validation: <div style="display: inline;" id="editor-error-holder"></div>
            </div>
        </p>
    </div>

{% endblock %}



