{% import 'macros/custom_form.html' as custom_form %}
{% ckan_extends %}

  {% if h.jsonschema_get_dataset_type() in h.jsonschema_handled_dataset_types() %}
    {% set jsonschema = true %}
  {% endif %}


  {% block stages %}
    {% if jsonschema %}
    <!-- Hide breadcrumb -->
    {% else %}     
      {{super()}}
    {% endif %}
  {% endblock %}

  {% block errors %}
    {% if jsonschema %}
      {{ custom_form.custom_errors(error_summary) }}
    {% else %}
      {{ form.errors(error_summary) }}
    {% endif %}
  {% endblock %}

  {% block basic_fields %}
    {{super()}}
  {% endblock %}

  {% block metadata_fields %}
    {% set jsonschema_type = h.jsonschema_get_dataset_type(data) %}
    {% if jsonschema and h.jsonschema_is_supported_jsonschema_field(jsonschema_type, 'body') %}

    {% set body = h.jsonschema_as_json(h.jsonschema_get_dataset_body(data)) %}
      {% set opt = h.jsonschema_as_json(h.jsonschema_get_dataset_opt(data)) %}

      {% include 'snippets/jsonschema_form.html' %}

    {% snippet 'package/snippets/package_metadata_fields.html', package_type=jsonschema_type, data=data, errors=errors %}
    {% endif %}
  {% endblock %}