{% ckan_extends %}

  {% if h.jsonschema_get_package_type() in h.jsonschema_handled_dataset_types() %}
    {% set is_jsonschema = true %}
  {% endif %}

  {% if c.action == "new" and c.controller == "package" %}
    {% set use_template = True %}
  {% endif %}

  {% block stages %}
    {% if is_jsonschema %}
    <!-- Hide breadcrumb -->
    {% else %}     
      {{super()}}
    {% endif %}
  {% endblock %}

  {% block errors %}
    {% if is_jsonschema %}
      {% import 'macros/custom_form.html' as custom_form %}
      {{ custom_form.custom_errors(error_summary) }}
    {% else %}
      {{ form.errors(error_summary) }}
    {% endif %}
  {% endblock %}

  {% block basic_fields %}
    {{super()}}
  {% endblock %}

  {% block metadata_fields %}
    {% set jsonschema_type = h.jsonschema_get_package_type(data) %}
    {% if is_jsonschema and h.jsonschema_is_supported_jsonschema_field(jsonschema_type, 'body') %}

      {% set body = h.jsonschema_as_json(h.jsonschema_get_package_body(data)) %}
      {% set opt = h.jsonschema_as_json(h.jsonschema_get_package_opt(data)) %}
      {% set data_dict = h.jsonschema_as_json(data) %}
      
      {% set use_template = use_template %}
      {% include 'snippets/jsonschema_form.html' %}

      {% snippet 'package/snippets/package_metadata_fields.html', package_type=jsonschema_type, data=data, errors=errors %}
    {% else %}
      {% snippet 'package/snippets/package_metadata_fields.html', package_type=jsonschema_type, data=data, errors=errors %}
    {% endif %}

  {% endblock %}