{% set resources = dataset.resources %}
{% set body = h.jsonschema_get_dataset_body(dataset) %}

{% set dataIdentification = body['dataIdentification'] %}

{% if dataIdentification.abstract %}
{{dataIdentification.abstract}}
{% endif %}

{% if dataIdentification.citation and dataIdentification.citation.dates %}
	{% for date in dataIdentification.citation.dates  %}
**Data {{date ['dateType']}}:** {{ date['date'] }}
	{% endfor %}
{% endif %}

{% if dataIdentification.supplementalInformation %}
**Supplemental Information:**

{{ dataIdentification.supplementalInformation }}
	
{% endif %}

**Contact points:**
{% for resource in resources %}
	{% set resource_type = h.jsonschema_get_resource_type(resource) %}
	{% if resource_type == 'resource-contact' or
			resource_type == 'resource-maintainer' or
				resource_type == 'point-of-contact' or
				resource_type == 'metadata-contact' or
				resource_type == 'cited-responsible-party' %}
		{% set contact = h.jsonschema_get_resource_body(resource) %}
		{% if contact.contactInfo %}
			{% if contact.contactInfo.address
				and contact.contactInfo.address.electronicMailAddress %}
{{contact.role|capitalize}}: [{{contact.individualName}}](mailto:{{contact.contactInfo.address.electronicMailAddress}}) {{contact.organisationName}}
			{% else %}
{{contact.role|capitalize}}: {{contact.individualName}} {{contact.organisationName}}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

{% set dataQualityInfo = body['dataQualityInfo'] %}
{% if dataQualityInfo and
	dataQualityInfo.lineage and
	dataQualityInfo.lineage.statement %}
**Data lineage:**

{{dataQualityInfo.lineage.statement}}
{% endif %}

{% if dataIdentification.citation and
		dataIdentification.citation.otherCitationDetails %}
**Citation:**

{{ dataIdentification.citation.otherCitationDetails }}
{% endif %}

{% if dataIdentification.resourceConstraints %}
	{% if dataIdentification.resourceConstraints and
		dataIdentification.resourceConstraints.legalConstraints and
			dataIdentification.resourceConstraints.legalConstraints.otherConstraints %}
**Resource constraints:**
		{% for other in dataIdentification.resourceConstraints.legalConstraints.otherConstraints %}
{{other}}
		{% endfor %}
	{% endif %}
{% endif %}

{% if resources %}
**Online resources:**

	{% for resource in resources %}
		{% set resource_type = h.jsonschema_get_resource_type(resource) %}
		{% if resource_type == 'online-resource' %}
			{% set body = h.jsonschema_get_resource_body(resource) %}
			{% if body.protocol.lower() == 'www:link-1.0-http--link' %}
[{{resource.description or resource.name}}]({{resource.url}})
			{% elif body.protocol.lower() == 'www:download-1.0-http--download' %}
[{{resource.description or resource.name}}]({{resource.url}})
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
