{% set resources = dataset.resources %}
{% set body = h.jsonschema_get_dataset_body(dataset) %}

{% set dataIdentification = body['dataIdentification'] %}

{% if dataIdentification.abstract %}
{{dataIdentification.abstract}}
{% endif %}

{% if dataIdentification.citation and dataIdentification.citation.dates %}
	{% for date in dataIdentification.citation.dates  %}
**Data {{date ['dateType']}}:** {{ date['date'] }}
	{% endfor %}
{% endif %}

{% if dataIdentification.supplementalInformation %}
**Supplemental Information:**

{{ dataIdentification.supplementalInformation }}
	
{% endif %}

{% if dataIdentification.citation and
	dataIdentification.citation.otherCitationDetails %}
**Citation:**

{{ dataIdentification.citation.otherCitationDetails }}
{% endif %}

**Contact points:**
{% for resource in resources %}
	{% set resource_type = h.jsonschema_get_resource_type(resource) %}
	{% set resource_body = h.jsonschema_get_resource_body(resource) %}
	{% set _label = resource_type %}
	{% if resource_type == 'resource-contact' %}
	  {% set _label = 'Contact' %}
	{% elif resource_type == 'graphic-overview' %}
		{% set _label = 'Graphic overview' %}
	{% elif resource_type == 'online-resource' %}
	  {% set _label = 'Online resource' %}
	{% elif resource_type == 'resource-maintainer' %}
	  {% set _label = 'Maintainer' %}
	{% elif resource_type == 'distributor' %}
	  {% set _label = 'Distributor' %}
	{% elif resource_type == 'metadata-contact' %}
	  {% set _label = 'Metadata contact' %}
	{% elif resource_type == 'cited-responsible-party' %}
	  {% set _label = 'Cited contact' %}
	{% endif %}
	{% if resource_body.contactInfo %}
		{% if resource_body.contactInfo.address
			and resource_body.contactInfo.address.electronicMailAddress %}
{{_label}}: [{{resource_body.individualName}}](mailto:{{resource_body.contactInfo.address.electronicMailAddress}}) {{resource_body.organisationName}}
		{% else %}
{{_label}}: {{resource_body.individualName}} {{resource_body.organisationName}}
		{% endif %}
	{% endif %}
{% endfor %}

{% set dataQualityInfo = body['dataQualityInfo'] %}
{% if dataQualityInfo and
	dataQualityInfo.lineage and
	dataQualityInfo.lineage.statement %}
**Data lineage:**

{{dataQualityInfo.lineage.statement}}
{% endif %}


{% if dataIdentification.resourceConstraints %}
	{% if dataIdentification.resourceConstraints and
		dataIdentification.resourceConstraints.legalConstraints %}
**Resource constraints:**
	{% set legalConstraints = dataIdentification.resourceConstraints.legalConstraints %}
		{% if legalConstraints.otherConstraints %}
			{% for other in legalConstraints.otherConstraints %}
{{other}}
			{% endfor %}
		{% elif legalConstraints.accessConstraints %}
			{% for access in legalConstraints.accessConstraints %}
{{access}}
			{% endfor %}
		{% elif legalConstraints.useConstraints %}
			{% for use in legalConstraints.useConstraints %}
{{use}}
			{% endfor %}
		{% endif %}		
	{% endif %}
{% endif %}

{% if resources %}
**Online resources:**

	{% for resource in resources %}
		{% set resource_type = h.jsonschema_get_resource_type(resource) %}
		{% if resource_type == 'online-resource' %}
			{% set resource_body = h.jsonschema_get_resource_body(resource) %}
			{% if resource_body.protocol %}
				{% if resource_body.protocol.lower() == 'www:link-1.0-http--link' %}
[{{resource.description or resource.name}}]({{resource.url}})
				{% elif resource_body.protocol.lower() == 'www:download-1.0-http--download' %}
[{{resource.description or resource.name}}]({{resource.url}})
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
