
{% macro render_json_body(json) -%}

{% if json is string %}
  {{ json }}
{% elif json is mapping %}
  {% for key, value in json | dictsort %}
    {% if value %} 
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><b>{{ key }}</b></td>
        </tr>
        <tr>
          <td>
            {{ render_json_body(value) }}
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  {% endfor %}
{% elif json is iterable %}
  <ul>
    {% for s in json %}
        <li>{{ render_json_body(s) }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ json }}
{% endif %}
{%- endmacro %}

{% macro render_json(json) -%}
<div class="table-responsive">
{{ render_json_body(json) }}
</div>
{%- endmacro %}
