{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}


{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
  {% endblock %}
  
  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% for r in pkg.resources %}
    {% if r.format in ['PNG','JPG','JPEG'] and r.url %}
    <p>
      <h3>{{r.name}}</h3>
      <image src="{{r.url}}" style="width:80%;display:block;margin-left:auto;margin-right:auto;"\>
    </p>
    {% endif %}
  {% endfor %}


  <!-- THIS RENDERS FULL METADATA/OPTIONS/TYPE BUTTONS -->  
  {% set jsonschema_type = h.jsonschema_get_package_type(pkg) %}
  {% set body = h.jsonschema_get_package_body(pkg) %}
  {% set opt = h.jsonschema_get_package_opt(pkg) %}
  
  {% include 'source/jsonschema_buttons.html' %}
  <!---->

  {% block package_additional_info %}
  
  <section class="additional-info">
    <h3>{{ _('Additional Info') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% set opt = h.jsonschema_get_package_opt(pkg) %}
            {% if opt.source_url and h.is_url(opt.source_url) %}
              <td class="dataset-details" property="foaf:homepage">
                <a href="{{opt.source_url}}" target="_blank">Source URL</a>
              </td>
            {% elif pkg.url %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg.url, pkg.url, rel='foaf:homepage', target='_blank') }}</td>
            {% endif %}
          </tr>
          {% if pkg.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg.metadata_modified %}
            </td>
          </tr>
          {% endif %}
          {% if pkg.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>

            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg.metadata_created %}
            </td>
          </tr>
          {% endif %}
      </tbody>
    </table>
  </section>
  {% endblock %}
  
{% endblock %}
