{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% macro render_nested_body(json) -%}
  {% if json is string %}
    {{ json }}
  {% elif json is mapping %}
    {% for key, value in json | dictsort %}
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><b>{{ key }}</b></td>
          </tr>
          <tr>
            <td>
              {{ render_nested_body(value) }}
            </td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  {% elif json is iterable %}
    {% for s in json %}
      {{ render_nested_body(s) }}
    {% endfor %}
  {% else %}
    {{ json }}
  {% endif %}
{%- endmacro %}

{% macro render_nested(json) -%}
<div class="table-responsive">
  {{ render_nested_body(json) }}
</div>
{%- endmacro %}

{% set extras = h.jsonschema_resolve_extras(pkg, True) %}

{% set TYPE_KEY = h.jsonschema_get_type_key() %}
{% set BODY_KEY = h.jsonschema_get_body_key() %}
{% set OPT_KEY = h.jsonschema_get_opt_key() %}
{% set VERSION_KEY = h.jsonschema_get_version_key() %}

{% set schema_type = extras[TYPE_KEY] %}
{% set body = extras[BODY_KEY] %}
{% set opt = extras[OPT_KEY] %}
{% set version = extras[VERSION_KEY] %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
  {#
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
  #}
  {% endblock %}
  
  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% for r in pkg.resources %} 
    {# set resource = h.jsonschema_resolve_resource_extras(schema_type, r, True) #}
    {% if r.format in ['PNG','JPG'] and r.url %}
    <p>
      <h3>{{r.title}}</h3>
      <image src="{{r.url}}" style="width:80%;display:block;margin-left:auto;margin-right:auto;"\>
    </p>
    {% endif %}
  {% endfor %}

  <p>
    <h3>Metadata:</h3>
    {{ render_nested(extras[BODY_KEY]) }}
  </p>


  <p>
    <h3>Options:</h3>
    {{ render_nested(extras[OPT_KEY]) }}
  </p>

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}
  
{% endblock %}
