{% set body = h.jsonschema_get_package_body(dataset) %}

{% set dataIdentification = body['dataIdentification'] %}

{% if dataIdentification.abstract %}
{{dataIdentification.abstract}}
{% endif %}

{% if dataIdentification.citation and dataIdentification.citation.dates %}
	{% for date in dataIdentification.citation.dates  %}
**Data {{date ['dateType']}}:** {{ date['date'] }}
	{% endfor %}
{% endif %}

{% if dataIdentification.supplementalInformation %}
**Supplemental Information:**

{{ dataIdentification.supplementalInformation }}
	
{% endif %}

{% if dataIdentification.citation and
	dataIdentification.citation.otherCitationDetails %}
**Citation:**

{{ dataIdentification.citation.otherCitationDetails }}
{% endif %}

{% set resources = dataset['resources'] %}
{% if resources %}
	{% if resources|length %}
**Contact points:**
		{% for resource in resources %}
			{% set resource_type = h.jsonschema_get_resource_type(resource) %}
			{% set resource_body = h.jsonschema_get_resource_body(resource) %}
			{% set _label = h.jsonschema_get_label_from_registry(resource_type) %}
			
			{% if resource_body and resource_body.contactInfo %}
				{% if resource_body.contactInfo.address
					and resource_body.contactInfo.address.electronicMailAddress %}
					{% set info_name = resource_body.individualName or resource_body.organisationName %}
{{_label}}: [{{info_name}}](mailto:{{resource_body.contactInfo.address.electronicMailAddress}})
				{% else %}
{{_label}}: {{resource_body.individualName}} {{resource_body.organisationName}}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set dataQualityInfo = body['dataQualityInfo'] %}
{% if dataQualityInfo and
	dataQualityInfo.lineage and
	dataQualityInfo.lineage.statement %}
**Data lineage:**

{{dataQualityInfo.lineage.statement}}
{% endif %}


{% if dataIdentification.resourceConstraints %}
	{% if dataIdentification.resourceConstraints and
		dataIdentification.resourceConstraints.legalConstraints %}
**Resource constraints:**
	{% set legalConstraints = dataIdentification.resourceConstraints.legalConstraints %}
		{% if legalConstraints.otherConstraints %}
			{% for other in legalConstraints.otherConstraints %}
{{other}}
			{% endfor %}
		{% elif legalConstraints.accessConstraints %}
			{% for access in legalConstraints.accessConstraints %}
{{access}}
			{% endfor %}
		{% elif legalConstraints.useConstraints %}
			{% for use in legalConstraints.useConstraints %}
{{use}}
			{% endfor %}
		{% endif %}		
	{% endif %}
{% endif %}

{% if resources %}
	{% if resources|length %}
**Online resources:**
		{% for resource in resources %}
			{% set resource_type = h.jsonschema_get_resource_type(resource) %}
			{% if resource_type == 'online-resource' %}
				{% set url = resource.url %}
				{% if url and not h.is_url(url) %}
					{% set url = h.url_for('/dataset/{}'.format(dataset['id']), _external=True) %}
				{% endif %}
				{% set resource_body = h.jsonschema_get_resource_body(resource) %}
				{% if resource_body.protocol %}
					{% if resource_body.protocol.lower() == 'www:link-1.0-http--link' %}
[{{resource.description or resource.name}}]({{url}})
					{% elif resource_body.protocol.lower() == 'www:download-1.0-http--download' %}
[{{resource.description or resource.name}}]({{url}})
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

