{% ckan_extends %}

{% import 'source/macros.html' as reader %}

{% if dataset_type %}
    {% set resource_types = h.jsonschema_handled_resource_types(dataset_type) %}
    {% if resource_types and resource_types | length > 0 %}
        {% set jsonschema = true %}
    {% endif %}
{% endif %}

{% block primary_content %}
  {% block resource_additional_information %}
    {{super()}}
    {% if res %}
    <p>
      <section class="module">
        {% block resource_additional_information_inner %}
        {% endblock %}
        {% if jsonschema is defined %}
  
          {% set body = h.jsonschema_get_resource_body(res) %}

          {% set schema_type = h.jsonschema_get_resource_type(res) %}

          {% set opt = h.jsonschema_get_resource_opt(res) %}

          {% set version = h.jsonschema_get_resource_version(res) %}
          <p>
            <div>
              <div style="width:90%;display: flex;margin-left:auto;margin-right:auto;justify-content: space-evenly;">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#type" aria-expanded="false" aria-controls="type">Type</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#body" aria-expanded="true" aria-controls="body">Full Metadata</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#opt" aria-expanded="false" aria-controls="opt">Options</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#version" aria-expanded="false" aria-controls="version">Version</button>
              </div>
              <div class="col">
                <div class="row">
                  <div class="" id="body">
                    <div class="card card-body">          
                    {% if body %}
                    <p>
                      <h3>Metadata:</h3>
                      {{ reader.render_json(body) }}
                    </p>
                    {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="collapse" id="opt">
                    <div class="card card-body">
                      {% if opt %}
                      <p>
                        <h3>Options:</h3>
                        {{ reader.render_json(opt) }}
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="collapse" id="type">
                    <div class="card card-body">
                      {% if schema_type %}
                      <p>
                        <h3>Type:</h3>
                        {{ schema_type }}
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="collapse" id="version">
                    <div class="card card-body">
                      {% if version %}
                      <p>
                        <h3>Version:</h3>
                        {{ version }}
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p>
        {% endif %}
      </section>
    {% endif %}
    </p>
  {% endblock %}
{% endblock %}
