{% ckan_extends %}

{% import 'source/macros.html' as reader %}

{% block primary_content %}
  {% block resource_additional_information %}
    {{super()}}
    {% if res %}
    <p>
      <section class="module">
        {% block resource_additional_information_inner %}
        {% endblock %}

        {% set jsonschema_type = h.jsonschema_get_resource_type(res) %}
        {% set is_jsonschema = jsonschema_type and jsonschema_type in h.jsonschema_handled_resource_types(dataset_type) %}

        {% if is_jsonschema %}
          {% set body = h.jsonschema_get_resource_body(res) %}
          {% set opt = h.jsonschema_get_resource_opt(res) %}
          
          {% include 'source/jsonschema_buttons.html' %}
        {% endif %}
      </section>
    {% endif %}
    </p>
  {% endblock %}
{% endblock %}
